In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("Data/world-cup-comparisons/world_cup_comparisons.csv")

In [5]:
df.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [6]:
df.columns

Index(['player', 'season', 'team', 'goals_z', 'xg_z', 'crosses_z',
       'boxtouches_z', 'passes_z', 'progpasses_z', 'takeons_z', 'progruns_z',
       'tackles_z', 'interceptions_z', 'clearances_z', 'blocks_z', 'aerials_z',
       'fouls_z', 'fouled_z', 'nsxg_z'],
      dtype='object')

In [8]:
df.values

array([['Cristian Pavón', 2018, 'Argentina', ..., -0.38, -0.91, -0.58],
       ['Eduardo Salvio', 2018, 'Argentina', ..., -1.11, 0.68, -0.03],
       ['Enzo Pérez', 2018, 'Argentina', ..., 0.72, 0.04, -0.66],
       ...,
       ['Willi Schulz', 1966, 'West Germany', ..., 0.1, -0.51, -0.6],
       ['Wolfgang Overath', 1966, 'West Germany', ..., 1.6, 0.55, 0.41],
       ['Wolfgang Weber', 1966, 'West Germany', ..., -0.09, 1.25, -0.86]],
      dtype=object)

In [9]:
df.shape

(5899, 19)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5899 entries, 0 to 5898
Data columns (total 19 columns):
player             5899 non-null object
season             5899 non-null int64
team               5899 non-null object
goals_z            5899 non-null float64
xg_z               5899 non-null float64
crosses_z          5899 non-null float64
boxtouches_z       5899 non-null float64
passes_z           5899 non-null float64
progpasses_z       5899 non-null float64
takeons_z          5899 non-null float64
progruns_z         5899 non-null float64
tackles_z          5899 non-null float64
interceptions_z    5899 non-null float64
clearances_z       5899 non-null float64
blocks_z           5899 non-null float64
aerials_z          5899 non-null float64
fouls_z            5899 non-null float64
fouled_z           5899 non-null float64
nsxg_z             5899 non-null float64
dtypes: float64(16), int64(1), object(2)
memory usage: 875.8+ KB

In [11]:
df.describe()

,season,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
count,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000,5899.000000
mean,1996.443126,0.000044,0.000161,0.000227,-0.000532,0.000003,0.000056,-0.000603,-0.000066,0.000100,0.000144,0.000312,-0.000432,0.000393,-0.000212,-0.000046,0.000090
std,15.315323,0.998907,0.998870,0.999068,0.999129,0.998879,0.998985,0.999147,0.998987,0.998854,0.998807,0.998614,0.999084,0.998669,0.999059,0.998892,0.998813
min,1966.000000,-0.500000,-0.720000,-0.750000,-0.810000,-1.650000,-1.320000,-0.910000,-1.180000,-1.100000,-1.030000,-0.800000,-0.620000,-0.890000,-1.280000,-1.100000,-1.010000
25%,1986.000000,-0.420000,-0.590000,-0.570000,-0.700000,-0.800000,-0.800000,-0.680000,-0.730000,-0.770000,-0.790000,-0.680000,-0.560000,-0.690000,-0.790000,-0.710000,-0.730000
50%,1998.000000,-0.410000,-0.390000,-0.510000,-0.370000,-0.170000,-0.260000,-0.320000,-0.290000,-0.300000,-0.290000,-0.420000,-0.480000,-0.310000,-0.180000,-0.280000,-0.340000
75%,2010.000000,-0.390000,0.200000,0.200000,0.270000,0.630000,0.550000,0.335000,0.460000,0.470000,0.460000,0.260000,0.230000,0.280000,0.570000,0.450000,0.380000
max,2018.000000,10.120000,8.600000,8.080000,7.510000,5.120000,5.530000,9.180000,7.340000,6.660000,5.740000,5.780000,10.910000,10.220000,6.860000,6.770000,7.280000

In [12]:
df["season"]

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
5894    1966
5895    1966
5896    1966
5897    1966
5898    1966
Name: season, Length: 5899, dtype: int64

In [15]:
df[["season", "player"]]

      season            player
0       2018    Cristian Pavón
1       2018    Eduardo Salvio
2       2018        Enzo Pérez
3       2018    Federico Fazio
4       2018     Franco Armani
...      ...               ...
5894    1966        Uwe Seeler
5895    1966     Werner Krämer
5896    1966      Willi Schulz
5897    1966  Wolfgang Overath
5898    1966    Wolfgang Weber

[5899 rows x 2 columns]

In [16]:
df[["season", "player", "team"]]

      season            player          team
0       2018    Cristian Pavón     Argentina
1       2018    Eduardo Salvio     Argentina
2       2018        Enzo Pérez     Argentina
3       2018    Federico Fazio     Argentina
4       2018     Franco Armani     Argentina
...      ...               ...           ...
5894    1966        Uwe Seeler  West Germany
5895    1966     Werner Krämer  West Germany
5896    1966      Willi Schulz  West Germany
5897    1966  Wolfgang Overath  West Germany
5898    1966    Wolfgang Weber  West Germany

[5899 rows x 3 columns]

In [21]:
df[df["goals_z"]>2]

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
15,Sergio Agüero,2018,Argentina,3.02,0.62,-0.51,1.52,-0.54,-0.97,0.26,-0.67,1.32,-0.27,-0.80,-0.45,-0.67,-1.11,-0.59,-0.28
28,Mile Jedinak,2018,Australia,4.17,4.51,0.27,0.23,1.56,0.36,0.16,-0.40,1.14,1.00,-0.38,0.32,2.04,1.81,-0.06,-0.15
38,Eden Hazard,2018,Belgium,2.53,3.05,-0.17,2.55,0.55,0.67,6.41,3.19,0.51,0.23,-0.71,-0.45,-0.14,0.14,3.99,3.31
46,Romelu Lukaku,2018,Belgium,3.51,2.86,-0.17,1.92,-0.66,-0.92,0.39,0.29,-0.61,-0.79,-0.71,-0.45,0.62,0.98,-0.36,0.50
65,Neymar,2018,Brazil,2.33,5.02,4.15,5.82,1.30,0.91,4.78,4.28,0.39,-0.79,-0.80,0.17,-0.72,0.06,5.70,7.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5808,Jose Augusto,1966,Portugal,2.24,0.59,1.09,0.69,1.63,1.12,0.90,0.93,1.26,1.62,-0.45,-0.62,-0.33,-0.22,1.38,1.49
5811,José Torres,1966,Portugal,2.24,2.05,-0.62,6.79,0.57,-0.65,-0.03,-0.56,-0.14,-0.26,-0.57,-0.62,10.22,1.36,0.26,1.46
5866,Valeri Porkujan,1966,USSR,3.12,1.15,0.24,0.37,-1.11,-0.90,-0.59,-0.49,-0.79,-1.01,-0.51,-0.45,-0.60,-0.22,-0.30,-0.14
5886,Franz Beckenbauer,1966,West Germany,2.94,1.78,-0.35,0.26,0.74,0.38,2.05,1.39,1.17,0.68,0.28,1.47,-0.10,0.67,0.02,1.52
5889,Helmut Haller,1966,West Germany,4.60,2.07,0.19,0.83,0.94,0.63,1.87,1.10,-0.03,0.18,-0.63,-0.31,-0.10,0.10,1.25,0.57

In [26]:
df[df["player"]=="Ronaldo"]

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
1737,Ronaldo,2006,Brazil,4.09,2.90,-0.54,1.63,-0.50,-0.93,1.39,0.09,-0.94,-0.66,-0.72,-0.56,-0.70,-0.03,0.07,1.36
2279,Ronaldo,2002,Brazil,6.85,6.30,0.19,4.13,-0.63,-0.87,1.89,1.01,-0.40,-0.48,-0.75,-0.04,-0.37,-0.69,1.08,2.31
2831,Ronaldo,1998,Brazil,2.95,3.33,-0.66,1.63,-0.36,-0.66,1.82,0.71,-0.62,-0.68,-0.57,-0.54,-0.41,-0.37,2.06,1.20

In [28]:
df[(df["player"]=="Ronaldo") & (df["goals_z"]>3)]

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
1737,Ronaldo,2006,Brazil,4.09,2.9,-0.54,1.63,-0.50,-0.93,1.39,0.09,-0.94,-0.66,-0.72,-0.56,-0.70,-0.03,0.07,1.36
2279,Ronaldo,2002,Brazil,6.85,6.3,0.19,4.13,-0.63,-0.87,1.89,1.01,-0.40,-0.48,-0.75,-0.04,-0.37,-0.69,1.08,2.31

In [31]:
dt=df.sort_values("goals_z")
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
4609,Carlos Recinos,1982,El Salvador,-0.5,-0.72,-0.60,-0.76,1.04,1.17,-0.77,0.15,-0.01,0.56,1.68,4.18,0.01,-0.02,0.04,-0.84
4678,Gyözö Martos,1982,Hungary,-0.5,-0.72,1.88,-0.76,1.09,1.61,-0.77,0.30,0.84,-0.09,0.07,-0.57,0.01,0.35,-0.28,0.57
4680,Imre Garaba,1982,Hungary,-0.5,-0.12,-0.60,-0.48,0.62,-0.02,-0.40,-0.16,0.99,0.06,1.03,1.21,-0.65,2.21,-0.28,-0.68
4683,Laszlo Bálint,1982,Hungary,-0.5,-0.72,-0.60,-0.76,0.03,-0.53,-0.77,-0.62,-0.52,-0.82,0.55,0.63,-0.65,-1.13,-0.61,-0.84
4687,Sándor Müller,1982,Hungary,-0.5,-0.72,0.02,-0.34,-0.34,-0.34,0.72,0.15,-0.47,-0.60,0.23,-0.57,-0.65,-0.02,-0.93,-0.28

In [32]:
dt=df.sort_values("goals_z", ascending=False)
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
3589,Oleg Salenko,1994,Russia,10.12,8.48,-0.60,2.76,-0.79,-1.10,0.58,-0.19,0.88,-0.28,-0.72,-0.58,0.00,1.36,-0.67,-0.05
5801,Eusébio,1966,Portugal,7.50,8.60,3.94,2.87,1.63,-0.26,5.56,2.34,0.70,-0.12,-0.63,-0.62,0.46,-0.42,2.50,1.78
720,James Rodríguez,2014,Colombia,7.45,3.60,3.09,1.64,0.79,0.85,3.20,1.51,0.27,-0.56,-0.54,-0.05,-0.57,1.66,2.11,4.60
5629,Gerd Müller,1970,West Germany,7.13,6.14,-0.57,5.40,0.29,-0.78,-0.27,-0.53,-1.01,-0.22,-0.68,-0.59,0.12,-0.45,1.32,1.65
2279,Ronaldo,2002,Brazil,6.85,6.30,0.19,4.13,-0.63,-0.87,1.89,1.01,-0.40,-0.48,-0.75,-0.04,-0.37,-0.69,1.08,2.31

In [33]:
dt=df.sort_values(["season", "player"], ascending=[True, False])
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
5798,Zoong-Sun Lim,1966,North Korea,-0.39,-0.27,-0.62,-0.67,0.05,0.88,-0.77,-0.41,0.42,0.01,3.10,-0.31,0.99,1.46,0.36,-0.93
5735,Yves Herbet,1966,France,-0.39,0.02,1.09,0.20,0.47,-0.10,0.71,1.00,0.01,0.78,-0.45,-0.62,0.99,0.37,0.45,0.47
5797,Yung-Won Ha,1966,North Korea,-0.39,-0.60,-0.62,-0.67,-0.92,-0.52,-0.50,-0.86,-0.84,-0.28,1.11,-0.24,1.78,-0.32,0.36,-0.41
5796,Yung-Kyoo Shin,1966,North Korea,-0.39,-0.17,-0.62,-0.67,0.23,0.93,0.06,-0.19,1.24,1.29,4.91,2.77,2.17,-0.32,0.36,-0.73
5795,Yoon-Kyung Oh,1966,North Korea,-0.39,-0.52,-0.19,-0.59,-0.27,0.06,-0.22,-0.30,1.18,0.92,1.66,0.14,0.20,0.57,-0.76,-0.80

In [34]:
dt=df["player"]
dt.head()

0    Cristian Pavón
1    Eduardo Salvio
2        Enzo Pérez
3    Federico Fazio
4     Franco Armani
Name: player, dtype: object

In [35]:
dt=df[["player", "team"]]
dt.head()

           player       team
0  Cristian Pavón  Argentina
1  Eduardo Salvio  Argentina
2      Enzo Pérez  Argentina
3  Federico Fazio  Argentina
4   Franco Armani  Argentina

In [37]:
dt=df[df["season"]>1990]
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77

In [39]:
dt=df[df["season"]>1990].sort_values("season", ascending=True)
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
3693,Tony Meola,1994,USA,-0.39,-0.62,-0.60,-0.73,0.13,1.17,-0.82,-1.04,-0.97,-0.65,-0.39,-0.58,-0.66,-1.18,-1.10,-0.86
3422,Thomas Helmer,1994,Germany,-0.39,-0.49,-0.60,-0.54,-0.52,-0.73,-0.82,-0.79,0.96,0.22,1.69,2.59,0.14,-0.16,-0.84,-0.86
3423,Thomas Häßler,1994,Germany,-0.39,0.20,6.27,0.41,1.15,0.62,1.49,2.17,3.15,-0.25,-0.59,-0.58,-0.66,1.62,1.47,4.03
3424,Thomas Strunz,1994,Germany,-0.39,-0.57,-0.60,-0.73,-0.60,-0.35,0.02,0.11,1.26,-0.19,-0.18,0.53,-0.66,-0.41,-0.84,-0.64
3425,Alexandros Alexiou,1994,Greece,-0.39,-0.45,-0.60,-0.73,-0.65,-0.75,-0.47,-0.19,0.09,-0.40,0.17,0.56,-0.66,-1.18,-1.10,-0.88

In [42]:
dt=df[df["player"]=="Ronaldo"]
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
1737,Ronaldo,2006,Brazil,4.09,2.90,-0.54,1.63,-0.50,-0.93,1.39,0.09,-0.94,-0.66,-0.72,-0.56,-0.70,-0.03,0.07,1.36
2279,Ronaldo,2002,Brazil,6.85,6.30,0.19,4.13,-0.63,-0.87,1.89,1.01,-0.40,-0.48,-0.75,-0.04,-0.37,-0.69,1.08,2.31
2831,Ronaldo,1998,Brazil,2.95,3.33,-0.66,1.63,-0.36,-0.66,1.82,0.71,-0.62,-0.68,-0.57,-0.54,-0.41,-0.37,2.06,1.20

In [43]:
dt=df[(df["player"]=="Ronaldo") & (df["goals_z"]>3)]
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
1737,Ronaldo,2006,Brazil,4.09,2.9,-0.54,1.63,-0.50,-0.93,1.39,0.09,-0.94,-0.66,-0.72,-0.56,-0.70,-0.03,0.07,1.36
2279,Ronaldo,2002,Brazil,6.85,6.3,0.19,4.13,-0.63,-0.87,1.89,1.01,-0.40,-0.48,-0.75,-0.04,-0.37,-0.69,1.08,2.31

In [50]:
dt=df[(df["player"]=="Ronaldo") | (df["goals_z"]>3)]
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
15,Sergio Agüero,2018,Argentina,3.02,0.62,-0.51,1.52,-0.54,-0.97,0.26,-0.67,1.32,-0.27,-0.80,-0.45,-0.67,-1.11,-0.59,-0.28
28,Mile Jedinak,2018,Australia,4.17,4.51,0.27,0.23,1.56,0.36,0.16,-0.40,1.14,1.00,-0.38,0.32,2.04,1.81,-0.06,-0.15
46,Romelu Lukaku,2018,Belgium,3.51,2.86,-0.17,1.92,-0.66,-0.92,0.39,0.29,-0.61,-0.79,-0.71,-0.45,0.62,0.98,-0.36,0.50
88,Yerry Mina,2018,Colombia,4.34,0.69,-0.51,0.22,0.61,-0.21,-0.38,0.38,0.34,0.55,2.60,0.85,1.95,0.91,0.56,-0.77
155,Mohamed Salah,2018,Egypt,4.17,3.69,-0.51,1.26,-0.73,-0.50,0.16,0.91,-0.66,-0.62,-0.80,-0.45,-0.89,-0.62,-0.49,0.77

In [49]:
sma=[0., 0.1, 0.2, 0.3]
dt = df["goals_z"].isin(sma)
dt.head()

0    False
1    False
2    False
3    False
4    False
Name: goals_z, dtype: bool

In [51]:
sma=[0., 0.1, 0.2, 0.3]
dt = df[df["goals_z"].isin(sma)]
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z
3451,Daniele Massaro,1994,Italy,0.3,0.38,-0.32,0.64,-0.57,-0.92,-0.14,-0.37,-0.35,-0.62,-0.28,-0.58,0.38,0.32,0.91,0.32

In [57]:
dt=df.copy()
dt.columns

Index(['player', 'season', 'team', 'goals_z', 'xg_z', 'crosses_z',
       'boxtouches_z', 'passes_z', 'progpasses_z', 'takeons_z', 'progruns_z',
       'tackles_z', 'interceptions_z', 'clearances_z', 'blocks_z', 'aerials_z',
       'fouls_z', 'fouled_z', 'nsxg_z'],
      dtype='object')

In [59]:
dt["goal*10"]=dt["goals_z"]/100
dt.columns

Index(['player', 'season', 'team', 'goals_z', 'xg_z', 'crosses_z',
       'boxtouches_z', 'passes_z', 'progpasses_z', 'takeons_z', 'progruns_z',
       'tackles_z', 'interceptions_z', 'clearances_z', 'blocks_z', 'aerials_z',
       'fouls_z', 'fouled_z', 'nsxg_z', 'goal*10'],
      dtype='object')

In [60]:
dt.head()

,player,season,team,goals_z,xg_z,crosses_z,boxtouches_z,passes_z,progpasses_z,takeons_z,progruns_z,tackles_z,interceptions_z,clearances_z,blocks_z,aerials_z,fouls_z,fouled_z,nsxg_z,goal*10
0,Cristian Pavón,2018,Argentina,-0.42,-0.55,0.08,-0.24,-0.61,-0.72,-0.05,0.15,0.30,-0.79,-0.80,-0.45,-0.23,-0.38,-0.91,-0.58,-0.0042
1,Eduardo Salvio,2018,Argentina,-0.42,-0.50,-0.51,0.64,0.02,-0.46,-0.05,0.48,0.61,0.67,0.32,-0.45,0.21,-1.11,0.68,-0.03,-0.0042
2,Enzo Pérez,2018,Argentina,-0.42,0.11,-0.51,-0.69,0.27,-0.65,-0.36,-0.34,0.35,-0.22,-0.80,-0.45,-0.89,0.72,0.04,-0.66,-0.0042
3,Federico Fazio,2018,Argentina,-0.42,-0.59,-0.51,-0.69,-0.97,-0.91,-0.67,-0.84,-0.82,-0.79,-0.64,-0.45,0.21,-1.11,-0.59,-0.77,-0.0042
4,Franco Armani,2018,Argentina,-0.42,-0.59,-0.51,-0.80,-0.67,0.64,-0.67,-0.67,-0.82,-0.79,-0.64,-0.45,-0.89,-1.11,-0.91,-0.77,-0.0042

In [62]:
dt=df[["goals_z", "player"]]
dt.head()

   goals_z          player
0    -0.42  Cristian Pavón
1    -0.42  Eduardo Salvio
2    -0.42      Enzo Pérez
3    -0.42  Federico Fazio
4    -0.42   Franco Armani